<%= render "layouts/navbar" %>

<h1>Edit Profile</h1>

<%= form_with(model: @artist, local: true, class: "") do |f| %>

    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, required: true, placeholder: "name...", autofocus: true %>
    </div>

    <div class="field">
        <%= f.label :avatar %>
        <%= f.text_field :avatar, required: true, placeholder: "avatar url" %>
    </div>

    <div class="field">
        <%= f.label :started %>
        <%= f.text_field :started, required: true, placeholder: "year you started" %>
    </div>

    <%= f.submit nil, class: "" %>

<% end %>